<h1>Profile</h1>
<ul>
	<li>I love Dream Theater and so I like to compose hard rock, heavy metal and instrumental music.</li>
	<li>My favourite musicians are Dream Theater,Circus Maximus,Kiko Loureiro,Greg Howe,Scar Symmetry,Hiromi Uehara and Animals As Leaders.</li>
	<li>Dream TheaterとCircus Maximusが好きです。趣味で一人でギターを弾きながらこつこつ曲作っています。よろしくお願いします。</li>
</ul>