<div id="header">
	<img src="/common/img/header.jpg" width="975" height="180" alt="test" />
	<ul>
		<li><a ui-sref="top">TOP</a></li>
		<li><a href="profile">Profile</a></li>
		<li><a href="equipment">Equipment</a></li>
		<li><a href="edit-album">Add・Edit</a></li>
		<li><a href="https://soundcloud.com/byosso" target="_blank">SoundCloud</a></li>
		<li><a href="https://byosso.bandcamp.com/" target="_blank">Bandcamp</a></li>
		<li><a ui-sref="login">login</a></li>
	</ul>
</div>