<div ng-controller="topController as top">
<h1>ALBUM LIST</h1>
	<ol class="album" >
		<li ng-repeat="album in top.albums">
			<div class="art">
				<img ng-src="common/img/{{album.artwork}}" alt="{{album.name}}" />
			</div>
			<button type="button" class="btn btn-default" ng-click="top.open($index)" ng-cloak>{{album.name}}</button>
		</li>
	</ol>
</div>