<div ng-controller="equipmentController as equipment">
<h1>Equipment</h1>
<ul>
	<li><a href="#" ng-click="equipment.category('')">ALL</a></li>
	<li><a href="#" ng-click="equipment.category('guitar')">GUITAR</a></li>
	<li><a href="#" ng-click="equipment.category('bass')">BASS</a></li>
	<li><a href="#" ng-click="equipment.category('hard')">HARDWARE</a></li>
</ul>

<ol class="equipment" >
	<li ng-repeat="equ in equipment.equipments">
		<div class="art">
			<img ng-src="common/img/{{equ.imageUrl}}" alt="{{equ.name}}" />
		</div>
		<button type="button" class="btn btn-default" ng-click="equipment.open($index)" ng-cloak>{{equ.name}}</button>
	</li>
</ol>
</div>