<div class="modal-header">
    <h3 ng-cloak>{{ equipmentModal.equipment.name }}</h3>
</div>
<div class="modal-body">
	
  <img ng-src="common/img/{{ equipmentModal.equipment.artwork }}" alt="{{ equipmentModal.equipment.name }}" />
  	
	<p ng-cloak>
		{{ equipmentModal.equipment.description }}
	</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="equipmentModal.close()">CLOSE</button>
</div>