<div ng-controller='loginController as login'>
	<h1>login</h1>
	<div ng-show="!login.loggedIn()">
		<form ng-submit="login.login()">
		  <input class="input" type="text" ng-model="login.userName" placeholder="Username"/>
			<input class="input" type="password" ng-model="login.userPassword" placeholder="Password" />
			<span><input type="submit" value="Login"/></span>
		</form>
	</div>
	<div class="alert alert-danger" role="alert" ng-show="error.data.message">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  {{error.data.message}}
	</div>
	<div ng-show="login.loggedIn()">
		<form ng-submit="login.logout()">
			<input type="submit" value="Logout"/>
		</form>
	</div>
</div>