@charset "UTF-8";
html {
    display: block;
    background-color: #c0c0c0;
}
body {
    font: 13px/1.231 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
h1{
	margin:10px !important;
}
ol{
	width: 975px;
}
.input{
	color: black
}
p.title {
  width: 100%;
  font-weight: bold;
  font-size: 108%;
  margin: 0.7em 0 0.3em 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
a{
  color: #ADD9FF;
}
#header ul li {
  list-style: none;
  width: 10%;
  display: inline-block;
}
#header ul{
	margin:10px;
	height: 30px;
}
#header{
	background-color: #000000;
	line-height: 1.5;
}
#centerWrapper {
    position: static;
    width: 975px;
    margin: 0px auto;
}
#propOpenWrapper {
	coloer: #FFFFFF;
	min-height: 100%;
  background-color: #454545;
  position: absolute;
}
.contents{
	color:#FFFFFF !important;
}
.album .equipment{
    list-style: none;
    margin: 0;
    position: relative;
    width: 855px;
}
.art {
  position: relative;
}
.art img{
	height: 232px;
	width :232px;
}
.album li{
	width: 232px;
	display: inline-block;
	position: relative;
	margin: 0 26px 30px 0;
	vertical-align: top;
	float:left;
}
.equipment li{
	width: 232px;
	display: inline-block;
	position: relative;
	margin: 0 26px 30px 0;
	vertical-align: top;
	float:left;
}
.modal-body img{
	height: 350px;
	width :350px;
}
.track_list .play-col {
    padding: 4px 0 0;
    width: 20px;
}
.track_list td {
    padding: 6px 2px;
    vertical-align: top;
    border: none;
}
.login-form{
	margin:10px;
}