<div ng-controller="albumEditController as albumEdit">
<h1>ALBUM LIST</h1>
	<p>
		<button type="button" class="btn btn-default" ng-click="albumEdit.addAlbum()">Add Album</button>
	</p>
	<ol class="album" >
		<li ng-repeat="album in albumEdit.albums">
			<div class="art">
				<img ng-src="common/img/{{album.artwork}}" alt="{{album.name}}" />
			</div>
			<div ng-cloak>{{album.name}}</div>
			<button type="button" class="btn btn-default" ng-click="albumEdit.editAlbum($index)">edit</button>
			<button type="button" class="btn btn-default" ng-click="albumEdit.deleteAlbum($index)">delete</button>
		</li>
	</ol>
</div>