<form name="editForm" novalidate>
<div class="modal-header">
    <h3 ng-cloak>{{ albumEditModal.album.name }}</h3>
</div>
<div class="modal-body">
	<p>
		Name : <input type="text" name="name" ng-model="albumEditModal.album.name" ng-required="true" ng-maxlength="80"/>
	</p>
	<p ng-show="editForm.name.$error.maxlength">80文字までです</p>
	<p ng-show="editForm.name.$error.required">必須項目です</p>
	
	<p ng-cloak>
		Type : <input type="text" name="category" ng-model="albumEditModal.album.category" ng-required="true" ng-maxlength="80"/>
	</p>
	<p ng-show="editForm.name.$error.maxlength">80文字までです</p>
	<p ng-show="editForm.category.$error.required">必須項目です</p>
	
  <img ng-src="common/img/{{ albumEditModal.album.artwork }}" alt="{{ albumEditModal.album.name }}" />
  
  <br />
  <p ng-cloak>
  	released {{ albumEditModal.album.released | date: 'yyyy/MM/dd' }}
  </p>
  
  <button class="btn btn-primary" ng-click="albumEditModal.addTrack()">Add Track</button>
  
  <table class="track_list track_table" id="track_table">
  	<tr ng-repeat="track in albumEditModal.tracks">
  		<td>
  			<div class="track_number secondaryText" ng-cloak>
  				{{$index + 1}}.
  			</div>
 			</td>
  		<td>
  			<div class="title" ng-cloak>
  				<input type="text" name="category" ng-model="track.title"/>
  			</div></td>
  		<td>
  			<span class="time secondaryText" ng-cloak>
  				<input type="text" name="category" ng-model="track.trackLength"/>
  			</span>
  		</td>
  		<td>
  			<button class="btn btn-primary" ng-click="albumEditModal.updateTrack($index)">UPDATE</button>
  		</td>
  		<td>
  			<button class="btn btn-primary" ng-click="albumEditModal.deleteTrack($index)">DELETE</button>
  		</td>
  	</tr>
	</table>
	
	<h4>Description</h4>
	<p>
		<textarea name="description" cols=40 rows=4 ng-maxlength="1000">
			{{ albumEditModal.album.description }}
    </textarea>
	</p>
	<p ng-show="editForm.description.$error.maxlength">1000文字までです</p>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-click="albumEditModal.updateAlbum()" ng-disabled="editForm.$invalid">UPDATE</button>
  <button class="btn btn-primary" ng-click="albumEditModal.close()">CLOSE</button>
</div>
</form>