<div class="modal-header">
	<h3 ng-bind-html="albumModal.album.name"></h3>
</div>
<div class="modal-body">
	<p ng-bind-html="'Type : ' + albumModal.album.category"></p>
  <img ng-src="common/img/{{ albumModal.album.artwork }}" alt="{{ albumModal.album.name }}" />
  
  <br />
  <p ng-cloak>
  	released {{ albumModal.album.released | date: 'yyyy/MM/dd' }}
  </p>
  
  <table class="track_list track_table" id="track_table">
  	<tr ng-repeat="track in albumModal.tracks">
  		<td>
  			<div class="track_number secondaryText" ng-cloak>
  				{{$index + 1}}.
  			</div>
 			</td>
  		<td>
  			<div class="title" ng-bind-html="track.title"></div></td>
  		<td>
  			<span class="time secondaryText" ng-bind-html="track.trackLength"></span>
  		</td>
  	</tr>
	</table>
	
	<h4>Description</h4>
	<p ng-bind-html="albumModal.album.description"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="albumModal.close()">CLOSE</button>
</div>