<form name="addForm" novalidate>
<div class="modal-header">
    <h3 ng-cloak>{{ albumEditModal.album.name }}</h3>
</div>
<div class="modal-body">
	<p>
		Name : <input type="text" name="name" ng-model="albumEditModal.album.name" ng-required="true" ng-maxlength="80"/>
	</p>
	<p ng-show="addForm.name.$error.maxlength">80文字までです</p>
	<p ng-show="addForm.name.$error.required">必須項目です</p>
	
	<p ng-cloak>
		Type : <input type="text" name="category" ng-model="albumEditModal.album.category" ng-required="true" ng-maxlength="80"/>
	</p>
	<p ng-show="addForm.name.$error.maxlength">80文字までです</p>
	<p ng-show="addForm.category.$error.required">必須項目です</p>
	
  <img ng-src="common/img/{{ albumEditModal.album.artwork }}" alt="{{ albumEditModal.album.name }}" />
  
  <br />
  <p>
  	released : <input type="date" name="released" ng-model="albumEditModal.album.released" />
  </p>
  <p ng-show="addForm.released.$error.date">入会希望日は正しい形式で入力してください。</p>
    
	<h4>Description</h4>
	<p>
		<textarea name="description" cols=40 rows=4 ng-maxlength="1000">
			{{ albumEditModal.album.description }}
    </textarea>
	</p>
	<p ng-show="addForm.description.$error.maxlength">1000文字までです</p>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-click="albumEditModal.addAlbum()" ng-disabled="addForm.$invalid">Add</button>
  <button class="btn btn-primary" ng-click="albumEditModal.close()">CLOSE</button>
</div>
</form>